<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl url="http://88.198.35.194:6080/arcgis/rest/services/CCLME_COI/"
                   matchAll="true"/>
        <serverUrl url="http://www.lmagudo.com/"
                  matchAll="true"/>
        <serverUrl url="http://gmis.jrc.ec.europa.eu/webservices/4km/wms/pathfinder?"
                  matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
